/* INSTRUCTIONS
 
All photos should be wrapped in figure elements and should be the same size
Compress photos before uploading (save originals)
Give slideshow a max-width of the images native width

LIMITATIONS
  - Flash of content when page loads (cannot hide images with CSS or would not be available when JS is disabled)
  - Each photo requires a caption
*/


/* PROBLEMS TO FIX
 - Determine why slideshow needed a display of inline-block; won't this make text wrap around it?
 - Internet Explorer 8 doesn't display the hidden photos at their dimensions when you click "next"; they have a height and width of 0
    - Tried to use visiblity hidden and move images to the top of the slideshow with absolute positioning;
      This gave .slideshow a height and width of 0 because its children were all absolutely positioned
      .slideshow's lack of dimensions allowed the slides to pour out of its boundaries and go beyond the layout
      Any text on the page was obscured due to absolute positioning
      
      Would .slideshow itself need to be positioned absolutely? And given a width of 100%?
      
 - Enable opacity in IE 8 using filter (http://html5please.com/)
 - Check if position of buttons varies depending on height of image; is the middle correctly calculated for the images?
 - On mobile, why does opacity of clicked button change?
 - How do I make the slideshow accessible with tabbing?
*/

body {
  box-sizing:border-box
}

.slideshow figure {
  margin:0;
}

.slideshow {
  display:inline-block;
  padding:0;
  position:relative;
/* To position slideshow buttons */
  max-width:920px
}

.hide {
  display: none;
}

.slideshow img {
  width:100%;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: 1em 0 0 0;
}

.slideshow figcaption {
  background-color:#000;
  color:#fff;
  padding:1em;
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
  font-family:Helvetica,Arial,Tahoma,sans-serif;
  font-size:15px;
  line-height:150%;
  margin-top:-5px;
  text-align: left;
  font-style: normal;
}

.previous, .next {
  height:0;
/* Padding-bottom is added via JS; calculates based on height of image */
  position:absolute;
  top:0
}

.previous p, .next p {
  display:table;
  padding:1em 10px;
  color:#fff;
  font-family:Arial;
  font-size:24px;
  background-color:#000;
  text-align:center;
  font-weight:700;
  opacity:.8;
  position:absolute;
/* positioned in relation to the #previous and #next spans */
  top:50%;
  margin:-.87em 0 0 0;
/* previously used transformY(-50%) to bring arrow up half the width of itself; not supported in IE 8 */
}

.previous p {
  left:0;
  border-radius:0 5px 5px 0
}

.next p {
  right:0;
/*moves button to right corner of span instead of left */
  border-radius:5px 0 0 5px
}

.previous {
  left:0
}

.next {
  right:0
}

.previous:hover, .next:hover {
  opacity:.5;
  cursor:pointer;
  cursor:hand
}