/* INSTRUCTIONS
 
All photos should be wrapped in figure elements and should be the same size
Compress photos before uploading (save originals)

LIMITATIONS
  - Flash of content when page loads (cannot hide images with CSS or would not be available when JS is disabled)
  - Each photo requires a caption
  - If images are less than 920px wide, change max-width on slideshow
*/

/* PROBLEMS TO FIX
 - Opacity change does not work on button hover with IE 8
 - On mobile, why does opacity of clicked button change?
 - How do I make the slideshow accessible with tabbing?
 - Add margin top to images only if JS is disabled
*/

body {
  box-sizing:border-box
}

.slideshow figure {
  margin:0;
}

.slideshow {
  display: block;
  padding: 0;
  position: relative;
 /* To position slideshow buttons */
  max-width: 920px;
}

.hide {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* left and right positioning retains image dimensions in IE 8 */
}

.slideshow img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}

.slideshow figcaption {
  background-color: #000;
  color: #fff;
  padding: 1em;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: Helvetica,Arial,Tahoma,sans-serif;
  font-size: 15px;
  line-height: 150%;
  margin-top: -5px;
  text-align: left;
  font-style: normal;
}

.previous, .next {
  height: 0;
/* Padding-bottom is added via JS; calculates based on height of image */
  position: absolute;
  top:0
}

.previous p, .next p {
  padding: 1em 10px;
  color: #fff;
  font-family: Arial;
  font-size: 24px;
  background-color: #000;
  text-align: center;
  font-weight: 700;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  opacity: .8;
  position: absolute;
/* positioned in relation to the #previous and #next spans */
  top: 50%;
  margin: -1.5em 0 0 0;
/* previously used transformY(-50%) to bring arrow up half the width of itself; not supported in IE 8 */
}

.previous p {
  left: 0;
  border-radius: 0 5px 5px 0
}

.next p {
  right: 0;
/*moves button to right corner of span instead of left */
  border-radius: 5px 0 0 5px
}

.previous {
  left: 0
}

.next {
  right: 0
}

.previous:hover, .next:hover {
  width:99.9%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  opacity:.5;
  cursor: pointer;
  cursor: hand
}